
button{
  margin: 53px;
     padding: 8px 10px;
     border: 1px solid #466f8a;
     background: #58a linear-gradient(#000b26,#58a);
     border-radius: 6px;
     box-shadow: 0 1px 5px gray;
     color: white;
     text-shadow: 0 -1px 1px #335166;
     font-size: 30px;
     line-height: 17px;
     top: 50%;
}
